@model IEnumerable<SmartCityWeb.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" asp-controller="Locations">Create New location</a>  <a asp-action="Create" asp-controller="Sensors">Create new sensor</a> <a asp-action="Create" asp-controller="Trees">Create new tree group</a>
</p>

<div id="vueApp">
    <a>Search bar:</a>
    <input type="text" v-model="searchbox" placeholder="type in name to search for" v-on:change="searchLocations()"/>
    
    <table class="table">
        <thead>
        <tr>
            <th>
                Location ID
            </th>
            <th>
                Location Name
            </th>
            <th>
                Road Name
            </th>
            <th>
                Road Number
            </th>
            <th>
                Zip Code
            </th>
            <th>
                City
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        
        <tr v-for="item in searchlocations">
            <td>
                {{item.locationID}}
            </td>
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.roadName}}
            </td>
            <td>
                {{item.roadNumber}}
            </td>
            <td>
                {{item.zipCode}}
            </td>
            <td>
                {{item.city}}
            </td>
            <td>
                <a v-on:click="showSensorsfunction(item.locationID)">View sensors</a> | <a v-on:click="showTreesfunction(item.locationID)">Show data</a>

                @*<a asp-action="getSensorsByLocationID" asp-controller="Sensors" asp-route-id="@item.LocationID">sensors</a>|
                    <a asp-action="Edit" asp-route-id="@item.LocationID">Edit</a> |
                    <a asp-action="Details" asp-route-id="{{item.locationID}}">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LocationID">Delete</a>*@
            </td>
        </tr>
        
        </tbody>
    </table>
    
    <table class="table" v-if="showsensors">
        <thead>
        <tr>
            <th>
                Hexadecimal ID
            </th>
            <th>
                Tree Sort
            </th>
            <th>
                GPS Langitude
            </th>
            <th>
                GPS Longitude
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr v-for="sensor in specificSensors">
            <td>
                {{sensor.hexaDecimalID}}
            </td>
            <td>
                {{sensor.treeSort}}
            </td>
            <td>
                {{sensor.gpsLan}}
            </td>
            <td>
                {{sensor.gpsLon}}
            </td>
                
            <td>
                    
                @*<a asp-action="getSensorsByLocationID" asp-controller="Sensors" asp-route-id="@item.LocationID">sensors</a>|
                    <a asp-action="Edit" asp-route-id="@item.LocationID">Edit</a> |
                    <a asp-action="Details" asp-route-id="{{item.locationID}}">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LocationID">Delete</a>*@
            </td>
        </tr>

        </tbody>
    </table>
    
    <table class="table" v-if="showTrees">
        <thead>
        <tr>
            <th>
                Tree sort
            </th>
            <th>
                Number of trees
            </th>
            
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr v-for="tree in specificTrees">
            <td>
                {{tree.treeSort}}
            </td>
            <td>
                {{tree.numberOfTrees}}
            </td>
                
            <td>
                    
                @*<a asp-action="getSensorsByLocationID" asp-controller="Sensors" asp-route-id="@item.LocationID">sensors</a>|
                    <a asp-action="Edit" asp-route-id="@item.LocationID">Edit</a> |
                    <a asp-action="Details" asp-route-id="{{item.locationID}}">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LocationID">Delete</a>*@
            </td>
        </tr>

        </tbody>
    </table>

</div>
@section Scripts {
    <script src="~/js/location-index-vue.js" asp-append-version="true"></script>
}



