@model IEnumerable<SmartCityWeb.Models.Sensor>

@{
    ViewData["Title"] = "getSensorsByLocationID";
}

<h2>getSensorsByLocationID</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HexaDecimalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreeSort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPSLon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPSLan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HexaDecimalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreeSort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPSLon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPSLan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SensorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SensorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SensorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
